/* reset css  */
* {
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
  margin: 0;
  font-weight: 600;
}

/* css scroll */

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #063970;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #156273;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.pointer {
  cursor: pointer;
}

/* START nav */

nav {
  margin-bottom: 10px;
}

nav a {
  text-decoration: none;
  margin: 0 30px;
  color: black;
  font-size: 14px;
}

/* END nav  */

/* START Information  */

#container {
  display: flex;
  background-color: #eeeeee;
  padding-top: 15px;
}

/* start list */

.list {
  width: 15%;
  text-align: center;
  background-color: #063970;
  margin-left: 10px;
  padding-top: 10px;
  border-radius: 20px;
  height: 650px;
}

.list__toolbar {
  position: absolute;
  width: 25px;
  top: 60px;
  left: 30px;
}

.list input {
  width: 90%;
  height: 35px;
  border-radius: 10px;
  outline: none;
  border: none;
  padding-left: 50px;
}

.list .list__code {
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  margin-top: 10px;
}

.list .list__code .list__code--text p {
  color: #bdc3c7;
}

.list .list__code .list__code--text p span {
  color: #1abc9c;
}

.list .list__code .list__code--active p {
  color: #05070773;
}

.list .list__code .list__code--active p a {
  margin: 0 4px;
  color: #05070773;
}

.list__button {
  position: relative;
}

.icon__button {
  position: absolute;
  top: 10px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.icon__button--left {
  margin-left: 20px;
  font-size: 20px;
  color: #bdc3c7;
}

.icon__button--right {
  display: flex;
  align-items: center;
  margin-left: 10px;
  color: #000000cc;
}

.icon__button p {
  display: inline-flex;
  flex-direction: column;
}

.icon__add {
  position: absolute;
    top: -13px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 35px;
    color: #1abc9c;
}

.margin-icon {
  margin-right: 10px;
}

.list__item {
  height: 566px;
  overflow-y: auto;
}

/* END list */

/*  general */
.general {
  width: 20%;
  background-color: #c8f0f1;
  border-radius: 20px;
  padding: 30px 15px 0;
  margin: 0 15px;
}

.general .general__classCode .general__classCode--detail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.general .general__classCode .general__classCode--detail p:first-child {
  color: #00867b;
  font-size: 20px;
}

.general .general__classCode .general__classCode--detail p:last-child {
  font-size: 12px;
}

.general .general__classCode .general__classCode--detail p:last-child span {
  background-color: #bdc3c7;
  font-size: 11px;
  border-radius: 10px;
  padding: 2px 4px;
  margin: 0 15px;
}

.general .general__classCode i {
  font-size: 10px;
}

.general .general__schedule .general__schedule--detail {
  display: flex;
  margin-bottom: 10px;
}

.general .general__schedule .general__schedule--detail i {
  width: 10px;
  margin-right: 50px;
  font-size: 15px;
}

.general .general__schedule .general__schedule--detail p {
  font-size: 14px;
}

.general__schedule .general__detail--credit {
  background-color: #ecf0f1;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 10px 0;
}

.general__schedule .general__detail--credit .detail--credit {
  display: flex;
  justify-content: space-between;
  line-height: 20px;
}

.general__schedule .general__detail--credit .detail--credit p,
.general__schedule .general__detail--credit .detail--credit u {
  font-size: 12px;
}

.general .general__schedule {
  font-size: 10px;
  margin: 10px 0;
  border-top: 1px solid black;
  padding-top: 15px;
}

.general .general__handle {
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  border-bottom: 1px solid #b2bec3;
  border-top: 1px solid #b2bec3;
  padding: 10px 0;
}

.general .general__handle i {
  margin-right: 10px;
}

.general__detail--comment {
  display: flex;
  margin-top: 10px;
}

.general__detail--comment img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-right: 5px;
}

.general__comment--show {
  /* display: flex; */
  font-size: 10px;
  border: 1px solid #eee;
  border-radius: 10px;
  background-color: #eee;
  padding: 8px 5px;
}

.comment-desc {
  font-size: 8px;
  padding-left: 5px;
}

.comment-desc span {
  margin-right: 10px;
}


.comment__respond--1 {
  margin-left: 40px;
  width: 85%;
  position: relative;
}

.general__comment {
  position: relative;
}

.comment__line--vertical {
  position: absolute;
  height: calc(100% - 160px);
  border-left: 2px solid gray;
  top: 40px;
  left: 17px;
}

.comment__line--horizontal {
  position: absolute;
  border-left: 2px solid gray;
  border-bottom: 2px solid gray;
  width: 20px;
  height: 32px;
  left: -23px;
  border-radius: 0 0 0 10px;
  top: -10px;
}


.comment__respond--2 {
  width: 80%;
  margin-left: 40px;
  position: relative;
}

/* START  general__lecturers*/

.general__lecturers {
  width: 65%;
  padding: 15px 15px 15px 0;
}

.general__lecturers .general__lecturers--handle {
  display: flex;
  align-items: center;
  position: relative;
}

.general__lecturers .general__lecturers--handle > img {
  position: absolute;
  width: 20px;
  top: 8px;
  left: 8px;
}

.general__lecturers .general__lecturers--handle input {
  margin-right: 15px;
  outline: none;
  border: none;
  height: 35px;
  border-radius: 10px;
  width: 25%;
  padding-left: 35px;
}

.general__lecturers .general__lecturers--handle i {
  font-size: 25px;
  color: purple;
}

.general__lecturers .general__lecturers--handle p {
  margin: 0 25%;
  font-size: 12px;
}

.general__lecturers .general__lecturers--handle select {
  border: none;
  border-radius: 10px;
  padding: 8px 10px;
  background-color: beige;
  color: darkgray;
}

.general__lecturers--toolbar {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 25px;
  height: 25px;
}

.text {
  font-size: 10px;
}

.general__lecturers .general__lecturers--info {
  border: 1px solid silver;
  padding: 10px 20px 20px 30px;
  background-color: #f6eef7;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  margin-top: 15px;
}

.general__lecturers .general__lecturers--info .lecturers--info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.general__lecturers
  .general__lecturers--info
  .lecturers--info
  .lecturers--info--img
  img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.lecturers--info--number {
  position: absolute;
  top: -1px;
  left: 0px;
  border: 1px solid #c8f0f1;
  padding: 10px;
  background-color: #c8f0f1;
}

.lecturers--info--detail {
  width: 60%;
  margin-left: -30px;
}

.info--detail--full {
  display: flex;
}

.info--detail--full i:first-of-type {
  color: #1abc9c;
}

.info--detail--full p:last-child {
  color: #1abc9c;
}

.info--detail--full p:nth-child(3),
.info--detail--full p:nth-child(5) {
  margin-right: 20px;
}

.info--detail--skill {
  display: flex;
}

.detail--skill--text {
  background-color: #ebeeef;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 10px;
  margin-right: 15px;
}

.lecturers--status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #b2bec3;
  border-bottom: 1px solid #b2bec3;
  padding: 5px 0;
}

.lecturers--status--pick {
  display: flex;
  align-items: center;
}

.icon {
  width: 15px;
  margin-left: 10px;
}

.line {
  margin-bottom: 5px;
}

.info--detail--text {
  margin-right: 10px;
}

.info--detail--scores p {
  font-size: 20px;
  border-bottom: 1px solid;
}

.info--detail--scores i {
  color: #1968d2;
}

.info--detail--scores span {
  color: #d18d47;
}

.info--detail--handle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info--detail--handle button {
  background-color: #c8f0f1;
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  color: #1abc9c;
  margin-bottom: 10px;
}
/* END lecturers */

/* END Information */



/* --------------------------------------------------------------------------------------------------- */

/* START Responsive */




/* Movile : width < 740px */
@media only screen and (max-width: 740px) {
  #container {
    flex-wrap: wrap;
  }
  .list {
    width: 30%;
  }
  .general {
    width: 64%;
  }
  .general__lecturers {
    width: 100%;
  }
  .lecturers--info--img img {
    width: 75px;
    height: 75px;
  }
  .lecturers--info--detail {
    width: 55%;
    margin-left: 5px;
  }
  .info--detail--text {
    margin-right: 5px;
  }
  .info--detail--full p:nth-child(3),
  .info--detail--full p:nth-child(5) {
    margin-right: 10px;
  }
  .general__lecturers .general__lecturers--handle p {
    margin: 0 18%;
    font-size: 12px;
  }
  .general__lecturers .general__lecturers--handle input {
    width: 30%;
  }

  .comment__line--vertical {
    height: calc(100% - 120px);
  }
}

/* Tablet : 740px <= width <= 1024px */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
  #container {
    flex-wrap: wrap;
  }
  .list {
    width: 30%;
  }
  .general {
    width: 64%;
  }
  .general__lecturers {
    width: 100%;
  }
  .lecturers--info--img img {
    width: 75px;
    height: 75px;
  }
  .lecturers--info--detail {
    width: 55%;
    margin-left: 5px;
  }
  .info--detail--text {
    margin-right: 5px;
  }
  .info--detail--full p:nth-child(3),
  .info--detail--full p:nth-child(5) {
    margin-right: 10px;
  }
  .general__lecturers .general__lecturers--handle p {
    margin: 0 18%;
    font-size: 12px;
  }
  .general__lecturers .general__lecturers--handle input {
    width: 30%;
  }

  .comment__line--vertical {
    height: calc(100% - 120px);
  }
}

/* PC : width >= 1024px */
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  .lecturers--info--detail {
    width: 65%;
    margin-left: 0;
  }
  .general__lecturers .general__lecturers--info .lecturers--info .lecturers--info--img img {
    width: 65px;
    height: 65px;
  }
  .info--detail--scores p, .info--detail--scores span{
    font-size: 15px;
  }

  .info--detail--handle button{
    padding: 5px 10px;
  }

  .general .general__classCode .general__classCode--detail p:first-child {
    font-size: 13px;
  }

  .general .general__classCode .general__classCode--detail p:last-child span {
    font-size: 8px;
    margin: 0 5px;
  }
  .general .general__schedule .general__schedule--detail p {
    font-size: 8px;
  }

  .general__schedule .general__detail--credit .detail--credit p, .general__schedule .general__detail--credit .detail--credit u {
    font-size: 9px;
  }

  .list .list__code {
    font-size: 8px;
  }

  .icon__button {
    top: 5px;
  }
  .icon__button--left , .icon__button--right{
    margin-left: 14px;
    font-size: 12px;
  }
  .margin-icon {
    margin-right: 6px;
  }

  .icon__add {
    font-size: 25px;
  }

  .general .general__classCode i{
    font-size: 8px;
  }

  .general__comment--show {
    font-size: 8px;
  }

  .comment__line--vertical {
    height: calc(100% - 245px);
  }

  .comment__line--horizontal {
    height: 90px;
    top: -70px;
  }

  .comment__respond--2 {
    width: 70%;
  }

  .general__lecturers .general__lecturers--handle input {
    width: 35%;
  }

  .general__lecturers .general__lecturers--handle p {
    margin: 0 15%;
  }

  .list__toolbar {
    width: 18px;
    top: 62px;
    left: 25px;
  }

  .list input {
    padding-left: 35px;
  }
}

/* Mobile screen 1 : 320px <= width <= 539px */
@media only screen and (min-width: 320px) and (max-width: 539px) {
  #container {
    display: inline;
  }
  .list{
    width: 90%;
    margin: 0 auto 50px;
  }
  .list__toolbar {
    top: 64px;
    left: 45px;
  } 
  .general{
    width: 90%;
    margin: 160px auto 0;
  }

  .general__lecturers {
    width: 90%;
    padding: 0;
    margin: 30px auto;
  }
  .general__lecturers .general__lecturers--handle {
    display: inline;
  }

  .general__lecturers .general__lecturers--handle input {
    width: 70%;
    background-color: beige;
    margin-right: 50px;
  }
  .general__lecturers--toolbar {
    top: 0px;
    left: 10px;
    width: 20px;
    height: 20px;
  }
  .general__lecturers .general__lecturers--handle p {
    text-align: center;
    margin: 15px 0;
    font-size: 15px;
  }

  .general__lecturers .general__lecturers--info .lecturers--info {
    display: inline;
  }
  .lecturers--info--img {
    text-align: center;
  }
  .lecturers--info--detail {
    width: 100%;
    margin: 0;
  }
  .general__lecturers--info {
    padding: 10px;
    text-align: center;
  }
  .info--detail--full {
    display: inline;
  }
  .text {
    font-size: 12px;
    margin-bottom: 5px;
  }
  .line{
    margin-bottom: 20px;
  }

  .info--detail--scores {
    width: 25%;
    margin: 10px auto;
  }

  .info--detail--handle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .lecturers--status {
    display: inline-block;
  }
  .lecturers--status--pick{
    display: block;
  }
  .lecturers--status--pick a{
    text-decoration: none;
  }

  .lecturers--status  p {
    margin: 10px 0;
  }
  .list__item {
    height: 535px;
  }
  .icon__button {
    top: 20px;
    justify-content: space-around;
  }
}


/* Mobile screen 2 */
@media only screen and (min-width: 540px) and (max-width: 739px) {
  #container {
    display: inline;
  }
  .list{
    width: 90%;
    margin: 0 auto 50px;
  }
  .list__toolbar {
    top: 64px;
    left: 45px;
  } 
  .general{
    width: 90%;
    margin: 160px auto 0;
  }

  .general__lecturers {
    width: 90%;
    padding: 0;
    margin: 30px auto;
  }
  .general__lecturers .general__lecturers--handle {
    display: inline;
  }

  .general__lecturers .general__lecturers--handle input {
    width: 70%;
    background-color: beige;
    margin-right: 50px;
  }
  .general__lecturers--toolbar {
    top: 0px;
    left: 10px;
    width: 20px;
    height: 20px;
  }
  .general__lecturers .general__lecturers--handle p {
    text-align: center;
    margin: 15px 0;
    font-size: 15px;
  }

  .general__lecturers .general__lecturers--info .lecturers--info {
    display: inline;
  }
  .lecturers--info--img {
    text-align: center;
  }
  .lecturers--info--detail {
    width: 100%;
    margin: 0;
  }
  .general__lecturers--info {
    padding: 10px;
    text-align: center;
  }
  .info--detail--full {
    display: inline;
  }
  .text {
    font-size: 12px;
    margin-bottom: 5px;
  }
  .line{
    margin-bottom: 20px;
  }

  .info--detail--scores {
    width: 25%;
    margin: 10px auto;
  }

  .info--detail--handle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .lecturers--status {
    display: inline-block;
  }
  .lecturers--status--pick{
    display: block;
  }
  .lecturers--status--pick a{
    text-decoration: none;
  }

  .lecturers--status  p {
    margin: 10px 0;
  }
  .list__item {
    height: 535px;
  }
  .icon__button {
    top: 30px;
    justify-content: space-around;
  }
}


/* END Responsive */
